@font-face {
  font-family: 'Helvetica Neue Condensed Bold';
  src: url('/fonts/HelveticaNeue-CondensedBold.eot');
  src: url('/fonts/HelveticaNeue-CondensedBold.ttf') format('truetype'),
       url('/fonts/HelveticaNeue-CondensedBold.woff') format('woff'),       
       url('/fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background: url('/images/background-gate.jpg') no-repeat top left;
  background-attachment: scroll;
  background-size: cover;
  background-color: $brand-primary;
  overflow-y: scroll;
  &.signup-page {
    background: url('/images/background-signup.jpg') no-repeat top left;
    background-color: #000103;
  }
  &.dashboard {
    background-image: none;
    background-color: #000103;
    #footer {
      display: none;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}


.border-left-0 {
  border-left: 0 !important;
}



#content {
  position: relative;
  padding: 0 30px 50px;
}

h1,h2,h3,h4 {
  text-transform: uppercase;
  text-align: center;
}


.panel {
  margin-top: 70px;
  &.panel-default {
    margin-top: 30vh;
    margin-bottom: 30vh;
  }
  .form-control {
    height: auto;
  }
  button, button:hover {
    color: #FFF;
  }
}

.container {
  max-width: 100%;
}

.signup-page {
  h1,h2,h3,h4,p,a {
    color: #FFF;
  }
}

#header {
  position: absolute;
  top: 36px;
  right: 32px;
  z-index: 2;
  .locale{
    text-transform: uppercase;
    font-size: 19px;
    a,span {
      color: #FFF;
      padding: 0 2px;
      line-height: 1;
      &.active {
        color: $brand-secondary;
      }
    }
  }
}

.brand {
  overflow: hidden;
  .logo {
    max-width: 410px;
    margin: 95px auto 50px;
  }
}



.gate-form-wrapper {
  max-width: 722px;
  min-height: 1079px;
  padding: 0 60px;
  margin: 20px auto;
  background: url('/images/background-form-gate.png') no-repeat top left;
  background-attachment: scroll;
  background-size: contain;

  h1 {
    font-size: 75px;
    margin-top: 64px;
  }
  h2 {
    font-size: 35px;
    &.legal-age{
      font-size: 38px;
      padding: 0 10px;
    }
    &.thankyou{
      text-transform: initial;
    }
  }
  h3 {
    font-size: 31px;
  }

  #month, #day{
    display: inline-block;
    width: 94px;
    text-align: center;
    margin: 0 5px;
  }
  #year {
    display: inline-block;
    text-align: center;
    width: 120px;
    margin: 0 5px;
  }

  input, select{
    background-color: rgba(12, 36, 64, 0.1);
  }

  .selectdiv {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 370px;
  }

  .error {
    position: absolute;
    text-align: center;
    line-height: 1;
    width: 100%;
    left: 0;
    top: 80px;
    text-transform: uppercase;
  }

  .thankyou-social {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    a{
      margin: 0 20px;
    }
  }
}




.signup-form-wrapper {
  max-width: 750px;
  margin: 20px auto;
  color: #FFF;
  h1 {
    font-size: 45px;
    color: #FFF;
  }
  h2 {
    font-size: 37px;
    color: $brand-secondary;
    margin-top: 25px;
    margin-bottom: 65px;
    line-height: 1.1;
  }
  h3 {
    line-height: 1.1;
    font-size: 35px;
    color: #FFF;
    text-transform: initial;
    &:first-of-type {
      padding: 0 20px;
    }
  }

  form.signup {
    width: 100%;
    max-width: 650px;
    padding: 50px 10px 0;

    .required-field {
      text-transform: uppercase;
      margin-left: -10px;
    }

    .form-control {
      border: 2px solid #FFF;
      color: #FFF;
      &::-webkit-input-placeholder{
        color: #FFF;
      }
      &::-moz-placeholder{
        color: #FFF;
      }
      &:-moz-placeholder{
        color: #FFF;
      }
    }
  
    input, select{
      padding-left: 17px;
      background-color: rgba(225, 225, 225, 0.1);
      text-transform: uppercase;
    }

    input:not(.is-invalid) {
      margin-bottom: 25px;
    }

    select:not(.is-invalid) {
      margin-bottom: 6px;
    }
    
    .selectdiv {
      select {
        option {
          background-color: rgb(98, 98, 105);
          font-size: 90%;  
        }
      }

      &::after {
        border-left: 2px solid #FFF;
        background-color: rgba(225, 225, 225, 0.25);
      }
    }


    label.form-check-label {
      p {
        float: right;
        width: calc(100% - 40px);
        font-size: 25px;
        cursor: pointer;
        a {
          color: #FFF;
          text-decoration: underline;
        }
      }
      .is-invalid + span + p{
        color: $brand-danger;
        a{
          color: $brand-danger;
        }
      }
    }

    
    /* Hide the browser's default checkbox */
    .form-check-input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 4px;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: rgba(225, 225, 225, 0.1);
      border: 2px solid #FFF;
    }

    .is-invalid + .checkmark {
      border: 2px solid $brand-danger;
      background-color: rgba(255, 0, 0, 0.25);
    }

    /* On mouse-over, add a grey background color */
    .form-check-label:hover input ~ .checkmark {
      background-color: rgba(225, 225, 225, 0.2);
    }


    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .form-check-input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .form-check-label .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    button {
      background: url('/images/button-signup.png') no-repeat top left;
      background-size: contain;
      color: $brand-primary;
      &:hover{
        color: #FFF;
      }
    }

    .error {
      display: block;
      margin-top: 5px;
      font-size: 18px;
      text-transform: uppercase;
    }
  }  
}


.signup {

  margin: 20px auto 0;
  overflow: hidden;

  .form-group {
    margin-bottom: 12px;
    position: relative;
  }

  .form-control:focus {
    box-shadow: none;
  }

  input, select {
    z-index: 1;
    position: relative;
    font-size: 35px;
    text-transform: uppercase;
    border-width: 2px;
  }

  .selectdiv {
    position: relative;
    width: 100%;
    display: inline-block;
  }
   
  /*To remove button from IE11, thank you Matt */
  select::-ms-expand {
       display: none;
  }
  
  .selectdiv:after {
    content: '\25BC';
    font-size: 45px;
    top: 0;
    bottom: 0;
    right: 0;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-left: 2px solid $brand-primary;
    background-color: rgba(12, 36, 64, 0.25);
    position: absolute;
    pointer-events: none;
    text-align: center;
  }
  .selectdiv.is-invalid:after {
    border-left: 2px solid $brand-danger !important;
    background-color: rgba(255, 0, 0, 0.25);
    color: $brand-danger;
  }

   
  .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Add some styling */
    
    display: block;
    width: 100%;
    padding-right: 68px;
    padding-left: 20px;
    background-color: rgba(12, 36, 64, 0.1);
    background-image: none;
    -ms-word-break: normal;
    word-break: normal;

    option {
      background-color: rgba(12, 36, 64, 0.15);
      font-size: 70%;
    }
  }
  

  input:focus::-webkit-input-placeholder{
    color: transparent!important;
  }
  input:focus::-moz-placeholder{
    color: transparent!important;
  }
  input:focus:-moz-placeholder{
    color: transparent!important;
  }


  .form-control.is-invalid {
    border-color: $brand-danger !important;
    background-color: rgba(255,0,0,0.1) !important;
    color: $brand-danger !important;

    &:not(:focus)::-webkit-input-placeholder { /* WebKit browsers */
      color: $brand-danger !important;
    }
    &:not(:focus):-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $brand-danger !important;
    }
    &:not(:focus)::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $brand-danger !important;
    }
    &:not(:focus):-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $brand-danger !important;
    }
    
  }
  .is-valid + .error,
  .error + .error {
    display: none !important;
  }

  button {
    width: 381px;
    max-width: 100%;
    height: 89px;
    margin: 20px auto;
    display: block;
    background: url('/images/button-gate.png') no-repeat top left;
    background-size: contain;
    border: medium none;
    color: white;
    font-size: 48px;
    text-transform: uppercase;
    &:hover{
      color: $brand-secondary;
    }
    transition: all .2s;
  }

}

#footer {
  padding: 35px 50px;
  clear: both;
  overflow: hidden;
  hr {
    border-top: 3px solid white;
  }
  p, a{
    font-size: 19px;
    color: white;
    margin-bottom: 0;
    line-height: 30px;
  }
  a {
    text-transform: uppercase;
    &:hover {
      color: $brand-secondary;
    }
  }
  .copy {
    display: flex;
    justify-content: space-between;
    float: left;
    width: 100%;
    max-width: 650px;
  }
  .social {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 220px;
    float: right;
    img {
      width: auto;
      height: 30px;
    }
  }
}

.connecting {
  margin-top: 40px;
  margin-bottom: 20px;
  line-height: 1;
}

.get-inspired {
  text-transform: initial;
  margin-bottom: 40px;
}

#video-wrapper {
  width: 1500px;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}

// Responsive
@import "responsive";
