@font-face {
  font-family: 'Helvetica Neue Condensed Bold';
  src: url('/fonts/HelveticaNeue-CondensedBold.eot');
  src: url('/fonts/HelveticaNeue-CondensedBold.ttf') format('truetype'),
       url('/fonts/HelveticaNeue-CondensedBold.woff') format('woff'),       
       url('/fonts/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Condensed';
  src: url('/fonts/HelveticaNeue-Condensed.eot');
  src: url('/fonts/HelveticaNeue-Condensed.ttf') format('truetype'),
       url('/fonts/HelveticaNeue-Condensed.woff') format('woff'),       
       url('/fonts/HelveticaNeue-Condensed.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background: url('/images/background-image.jpg') no-repeat top center;
  background-attachment: scroll;
  background-size: cover;
  background-color: $brand-primary;
  overflow-y: scroll;
  min-height: 800px;
  &.dashboard {
    background-image: none;
    background-color: #000103;
    #footer {
      display: none;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}



#content {
  position: relative;
}

h1,h2,h3,h4 {
  text-transform: uppercase;
}

label {
  font-weight: 400;
}


#header {
  margin-top: 18px;
  min-height: 300px;
  .nav {
    margin-top: 68px;
    li {
      font-size: 25px;
      text-transform: uppercase;
    }

    

    .menu-cities {
      min-width: 181px;      
      &.open {
        min-height: 219px;
        background: url('/images/background-submenu.png') no-repeat top left;
        background-attachment: scroll;
        background-size: cover;
      }
    }

    .learn-more {
      min-width: 250px;
    }

  }

  .navbar-brand-centered {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 240px;
    height: 158px;
    text-align: center;
    padding: 0;
    margin-left: -120px;
  }
  

  .locale{
    a {
      color: #FFF;
      position: relative;
      line-height: 2em;
      &.active {
        color: $brand-primary;
        &::after{
          content: " ";
          position: absolute;
          width: 66px;
          height: 51px;
          top: -11px;
          left: -20px;
          z-index: -1;
          background: url('/images/background-lang.png') no-repeat top left;
          background-attachment: scroll;
          background-size: cover;
        }
        
      }
    }
    span {
      color: transparent;
      padding: 0 6px;
    }
  }
}



.dropdown {
  .dropdown-menu {
    transition: all 0.3s;    
    max-height: 0;
    opacity: 0;
    display: block;
    overflow: hidden;
    top: 47px;
    margin: 0;
    padding-top: 0;
    box-shadow: none;
    li a{
      padding: 0 19px;
      font-size: 22.92px;
      line-height: 29.17px;
    }
    .divider {
      height: 3px;
      margin: 0 0 7px 14px;
      width: 80%;
      float: left;
    }
  }

  &.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
  }

}


#gate{
  text-align: center;

  h1 {
    font-size: 58px;
    text-align: center;
    line-height: 64px;
    display: inline-block;
  }

  h2 {
    font-family: 'Helvetica Neue Condensed', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 29px;
    margin-top: 40px;
    margin-bottom: 45px;
  }

  #birthday {
    background: url('/images/background-date.png') no-repeat top left;
    background-attachment: scroll;
    background-size: contain;
    height: 72px;
    line-height: 72px;
    width: 100%;
    max-width: 676px;
    margin: 0 auto;
    .col-md-4:not(:last-child)::after {
      content: "|";
      position: absolute;
      right: 0;
      top: 0;
      font-family: 'Helvetica Neue Condensed', 'Helvetica Neue', 'Helvetica', sans-serif;
      font-size: 40px;
    }
  }


  .select-province {
    background: url(/images/background-province.png) no-repeat top left;
    background-attachment: scroll;
    background-size: contain;
    height: 72px;
    line-height: 72px;
    width: 100%;
    max-width: 289px;
    margin: 0 auto;
    .ui-selectmenu-button {
      padding-left: 5px;
    }

    &::after {
      content: "\25BC";
      padding: 5px;
      position: absolute;
      right: 60px;
      top: 0;
      z-index: 1;
      text-align: center;
      height: 100%;
      pointer-events: none;
      line-height: 72px;
      font-size: 20px;
    }
  }

  .enter {
    background: url(/images/background-enter.png) no-repeat top left;
    background-attachment: scroll;
    background-size: contain;
    border: none;
    font-size: 43px;
    width: 174px;
    height: 76px;
    line-height: 76px;
    margin-top: 90px;
    margin-bottom: 90px;
    &:hover {
      color: #fff;
    }
  }

  .error {
    position: absolute;
    text-align: center;
    line-height: 1;
    width: 100%;
    left: 0;
    top: 50px;
    text-transform: uppercase;
  }

}


#underage{
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;

  h1 {
    font-size: 60px;
    line-height: 60px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    &.in-province {
      color: $brand-secondary;
    }
  }
}

.ui-widget {
  font-family: $font-family-sans-serif;
}

.selectmenu {
  .ui-selectmenu-button, .ui-selectmenu-button:hover, .ui-selectmenu-button:focus {
    background-color: transparent;
    outline: none;
    border: none;
    color: $brand-primary;
    font-size: 31px;
    max-width: 100%;
    text-align: center;
    text-transform: uppercase;
    z-index: 101;
    &:hover, &:focus {
      color: #fff;
    }
  }
  .ui-selectmenu-icon.ui-icon {
    display: none;
  }
  .ui-selectmenu-text {
    margin-right: 0;
  }

  .ui-selectmenu-button-open::after {
    content: "";
    left: 45px;
    border-bottom: 3px solid #fff;
    position: absolute;
    z-index: 2;
    height: 10px;
    padding-top: 10px;
    width: 60%;
    bottom: -3px;
    background-color: #fab52a;
  }
}


.ui-selectmenu-menu ul.ui-widget.ui-widget-content{
  background: url(/images/background-date-submenu.png) no-repeat 0 -37px;
  background-attachment: scroll;
  background-size: cover;
  font-size: 23px;
  border: none;
  background-color: transparent;
  max-height: 240px;
  max-width: 177px;
  margin-top: -7px;
  margin-left: 20px !important;
  color: #fff;
  padding: 0;
  
  &#province-menu {
    background: url(/images/background-province-submenu.png) no-repeat 0 -37px;
    background-attachment: scroll;
    background-size: cover;
    max-width: 100%;
    margin-left: 0 !important;
    .ui-menu-item-wrapper {
      padding-left: 45px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 27px;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(250, 181, 42, 0), #fab52a 60%);
    width: 85%;
    height: 40px;
  }
  &::-webkit-scrollbar { 
    display: none; 
  }
  .ui-menu-item-wrapper {
    background-color: transparent;
    border: none;
    padding: 0 0 0 30px;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.4;
    &:hover, &.ui-state-active {
      color: $brand-primary;
    }
  }
  .ui-menu-item:first-child{
    text-indent: -9999px;
    height: 14px;
  }
  .ui-menu-item:last-child{
    padding-bottom: 20px;
  }
}


#footer {
  padding: 55px 0 40px;
  clear: both;
  overflow: hidden;
  background-color: #fff;
  background: url(/images/background-footer.png) no-repeat 0 0;
  background-attachment: scroll;
  background-size: cover;

  a {
    text-transform: uppercase;
    &:hover {
      color: $brand-secondary;
      text-decoration: none;
    }
  }

  .copy {
    font-family: 'Helvetica Neue Condensed', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 17px;
  }

  .footer-menu {
    text-align: center;
    font-size: 20px;
    a {
      margin-left: 19px;
      margin-right: 19px;
    }
  }
  .social {
    text-align: right;
    a {
      margin-left: 14px;
      margin-right: 14px;
    }
    img {
      width: 25px;
      height: 25px;
    }
  }
}

#video-wrapper {
  width: 1500px;
  max-width: 100%;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}


// EN Version Only
.lang-en {
  #gate {
    h1 {
      max-width: 920px;
    }
  }
}

// FR Version Only

// Responsive
@import "responsive";
